._lTir {
    background-color: #fafafa;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
    overflow: hidden
}

._ltf8 {
    top: 36px
}

._0r0cu {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background: #fff;
    background: rgba(var(--d87, 255, 255, 255), 1);
    border: solid 1px #dbdbdb;
    border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 5px;
    min-height: 200px;
    position: static
}

.c3Opt {
    margin: 20px
}

.t98Id {
    margin: 30px auto 15px
}

.SIUqf {
    margin: 22px auto 8px
}

.ulnoR {
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 44px;
    display: block;
    height: 88px;
    margin: 0 auto;
    width: 88px
}

@media screen and (max-height:415px) {
    .BdFXH {
        margin-top: 80px;
        z-index: 0
    }
}

.rYEZO {
    margin: 30px 20px 40px
}

.Jen1- {
    margin: 0 0 40px
}

.Rw9J6 {
    color: #262626;
    color: rgba(var(--i1d, 38, 38, 38), 1)
}

.EOgvk {
    margin-top: 36px;
    padding: 0 50px
}

.afW82 {
    color: #262626;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    margin-bottom: 20px
}

.C9bKC {
    margin: 0 40px 0
}

.rYEZO,
.Jen1- p {
    color: #8e8e8e;
    color: rgba(var(--f52, 142, 142, 142), 1);
    font-size: 14px;
    line-height: 18px;
    padding: 12px 0
}

@media (min-width:640px) {
    ._0r0cu {
        width: 375px
    }
}

@media (max-width:639px) {
    ._lTir {
        background: 0 0
    }
    ._0r0cu {
        background: 0 0;
        border: 0;
        max-width: 375px
    }
    .w8Ejx {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        background: rgba(var(--d87, 255, 255, 255), 1);
        border-bottom: solid 1px rgba(0, 0, 0, .0975);
        border-bottom: solid 1px rgba(var(--jb7, 0, 0, 0), .0975);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 45px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        left: 0;
        margin: auto;
        padding-top: 2px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1
    }
    .t98Id {
        margin: 0
    }
    .EOgvk {
        padding: 0 20px
    }
    .afW82 {
        text-align: center
    }
}

._04B0S {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 20px 0 20px
}

.SINhY {
    background-color: #c7c7c7;
    background-color: rgba(var(--edc, 199, 199, 199), 1);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    height: 1px;
    margin: 7px 0;
    position: relative
}

.qmqAn {
    color: #8e8e8e;
    color: rgba(var(--f52, 142, 142, 142), 1);
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 8px;
    text-transform: uppercase
}