/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * refrigerator-deluxe:
 *   - http://typekit.com/eulas/00000000000000003b9b38d3
 *   - http://typekit.com/eulas/00000000000000003b9b38d2
 *   - http://typekit.com/eulas/00000000000000003b9b38d6
 *   - http://typekit.com/eulas/00000000000000003b9b38d4
 *   - http://typekit.com/eulas/00000000000000003b9b38d5
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-12-09 02:30:37 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=gzs4pfq&ht=tk&f=177.178.179.180.43385&a=9535247&app=typekit&e=css");

@font-face {
font-family:"refrigerator-deluxe";
src:url("https://use.typekit.net/af/5cd118/00000000000000003b9b38d3/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/5cd118/00000000000000003b9b38d3/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/5cd118/00000000000000003b9b38d3/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"refrigerator-deluxe";
src:url("https://use.typekit.net/af/e4e5c7/00000000000000003b9b38d2/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/e4e5c7/00000000000000003b9b38d2/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/e4e5c7/00000000000000003b9b38d2/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"refrigerator-deluxe";
src:url("https://use.typekit.net/af/a5a95d/00000000000000003b9b38d6/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/a5a95d/00000000000000003b9b38d6/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/a5a95d/00000000000000003b9b38d6/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"refrigerator-deluxe";
src:url("https://use.typekit.net/af/2c8c49/00000000000000003b9b38d4/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2c8c49/00000000000000003b9b38d4/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2c8c49/00000000000000003b9b38d4/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"refrigerator-deluxe";
src:url("https://use.typekit.net/af/fb86dd/00000000000000003b9b38d5/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/fb86dd/00000000000000003b9b38d5/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/fb86dd/00000000000000003b9b38d5/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

.tk-refrigerator-deluxe { font-family: "refrigerator-deluxe",sans-serif; }
