@import url(gzs4pfq.css);
.button-primary[data-v-797edaaf] {
    width: 2.27rem;
    height: .53rem;
    background: url(btn-confirm.png) 50%/contain no-repeat;
    color: #fff;
    padding: 0;
    border: none;
    font-family: refrigerator-deluxe, sans-serif;
    text-transform: uppercase
}

.button-primary[data-v-797edaaf]:disabled {
    opacity: .5
}

.modal[data-v-875378f8] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background: rgba(0, 0, 0, .65);
    font-size: .36rem
}

.header[data-v-875378f8] {
    color: #e4cda0;
    font-size: .38rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: refrigerator-deluxe, sans-serif;
    margin-top: .3rem
}

.dialog[data-v-875378f8] {
    width: 11.12rem;
    height: 5.42rem;
    background: url(frame-dialog-big.png) 50%/contain no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

.btn-close[data-v-875378f8] {
    position: absolute;
    top: .1rem;
    right: .1rem;
    width: .28rem;
    height: .27rem;
    background: url(btn-close.png) 50%/contain no-repeat;
    border: none;
    z-index: 2
}

.body[data-v-875378f8] {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    overflow: auto;
    color: #000;
    font-family: Oswald, sans-serif;
    text-align: center;
    overflow-y: hidden
}

.body[data-v-875378f8],
.footer[data-v-875378f8] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.footer[data-v-875378f8] {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .2rem .16rem .35rem
}

.token[data-v-875378f8] {
    color: #424242;
    font-size: .22rem;
    bottom: .02rem;
    display: inline-block
}

.content .message[data-v-472757f8],
.token[data-v-875378f8] {
    position: absolute;
    font-family: refrigerator-deluxe, sans-serif
}

.content .message[data-v-472757f8] {
    color: #fff;
    font-size: .4rem;
    font-weight: 700;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.header[data-v-472757f8] {
    color: #fff;
    font-size: .27rem;
    text-transform: uppercase;
    text-align: left;
    margin-left: .25rem;
    margin-top: .18rem
}

@-webkit-keyframes rotate-data-v-4333bfda {
    0% {
        -webkit-transform: rotate(0deg) scaleX(-1);
        transform: rotate(0deg) scaleX(-1)
    }
    to {
        -webkit-transform: rotate(1turn) scaleX(-1);
        transform: rotate(1turn) scaleX(-1)
    }
}

@keyframes rotate-data-v-4333bfda {
    0% {
        -webkit-transform: rotate(0deg) scaleX(-1);
        transform: rotate(0deg) scaleX(-1)
    }
    to {
        -webkit-transform: rotate(1turn) scaleX(-1);
        transform: rotate(1turn) scaleX(-1)
    }
}

.loading[data-v-4333bfda] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8)
}

.loading[data-v-4333bfda]:before {
    content: "";
    width: .44rem;
    height: .44rem;
    -webkit-animation: rotate-data-v-4333bfda 1s linear infinite;
    animation: rotate-data-v-4333bfda 1s linear infinite;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAllBMVEUAAAD/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCP/pCORdPt5AAAAMnRSTlMAAz4GC79ElV0IbjUtIRwXDoRpZEw7MSWLWCkf4HMT89HMwqqknpt8U7h26cevkfvWteRWrUQAAAGeSURBVDjLrZXnloMgEIXFhhV7L4m9pGzy/i+3asomRoVzNveHc+B8wsxlFOpfYkRWBID62e06Qd0mUy3VdZGZ4N3hEAfsGiqiCKF0IEcB3TEOcRwLiyjQVDVi36fcIo65cCEDL/TSz2mXu1ysD1ZRPLC4YbPf+x8sWitFntGM60brHkX7LHnZSnE3LVWyTH4OVFmhNhVkmf7wV5YZzLnWR+NRgaNSGOnHI7ot7DgUVlIOpxg6CA+zeT6l6jhDwArm9PgOLVMEoqc8IjoigVmOG1uF1ikScRwY1qcBEQw5lhyWbjD1fdgcYZ4H34ebbkyDJ7Ou68bWsBEJy1yvwzO1HRLYO1VjsG2SpJMTP7VIqxJkUZzSMWpti4f54v5d2QF2abYo7owWBAzurEvjuUfAb7NhWf4NBMHdYrWytF9GguCtsyKspDfLN2itqs6zA7KslYZy68qf1x9ZloUWPLPq2lz6+1lmi2ZoC2FNLxtkmqYk649sdEWCEPZrpYDQlKSk7wXetg3f98/nRNu0VE6SvmkawzB8QSG7ZUVxaf4XsYsZ4ShvTnUAAAAASUVORK5CYII=) 50%/contain no-repeat
}

#app {
    color: #212121;
    font-size: .24rem;
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background: #141b25;
    position: relative;
    font-family: refrigerator-deluxe, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    text-align: center
}

#app .home-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(background.jpg) 50%/cover no-repeat;
    z-index: 0
}

#app .ff-logo {
    width: 230px;
    height: 70px;
    background: url(ff-logo.png) 50%/contain no-repeat;
    position: absolute;
    top: .2rem;
    left: 100px
}

#app .container {
    position: absolute;
    top: .7rem;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

#app .container .title {
    color: #000;
    font-size: 70px;
    font-weight: 700
}

#app .container .subtitle {
    color: #000;
    font-size: 30px;
    text-align: left
}

#app .container .options {
    margin-top: .2rem
}

#app .container .options button {
    margin-right: 7px;
    margin-bottom: 7px
}

#app .container .options .btn-facebook {
    width: 60px;
    height: 60px;
    background: url(icon-fb.png) 50%/contain no-repeat
}

#app .container .options .btn-vk {
    width: 60px;
    height: 60px;
    background: url(icon-vk.png) 50%/contain no-repeat
}

#app .container .options .btn-google {
    width: 60px;
    height: 60px;
    background: url(icon-gg.png) 50%/contain no-repeat
}

#app .container .options .btn-huawei {
    width: 60px;
    height: 60px;
    background: url(icon-huawei.png) 50%/contain no-repeat
}

#app .container .options .btn-apple {
    width: 60px;
    height: 60px;
    background: url(icon-apple.png) 50%/contain no-repeat
}

#app .container .options .btn-twitter {
    width: 60px;
    height: 60px;
    background: url(icon-twitter.png) 50%/contain no-repeat
}

#app .link {
    color: #000;
    font-size: 25px;
    font-weight: 700
}

#app .note {
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    font-size: 30px;
    text-align: right;
    width: 4rem
}

#app footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 2;
    background: #000;
    padding: 0 20px
}

#app footer .garena {
    width: 60px;
    height: 60px;
    background: url(garena.png) 50%/contain no-repeat
}

#app footer .copyright {
    color: #fff;
    font-size: 20px;
    text-align: left;
    margin-left: .1rem
}

@media screen and (max-width:1000px) {
    #app .container {
        right: 20%
    }
    #app .container .title {
        font-size: 40px
    }
    #app .container .options {
        width: 4rem
    }
}

@media screen and (max-width:1000px)and (max-height:600px) {
    #app .container .title {
        font-size: 35px
    }
    #app .container .subtitle {
        font-size: 25px
    }
    #app .container .options {
        width: 4rem
    }
    #app .container .options .btn-apple,
    #app .container .options .btn-facebook,
    #app .container .options .btn-google,
    #app .container .options .btn-huawei,
    #app .container .options .btn-twitter,
    #app .container .options .btn-vk {
        width: 42px;
        height: 42px
    }
    #app footer .copyright {
        font-size: 17px
    }
}

@media screen and (max-width:777px) {
    #app .ff-logo {
        position: absolute;
        top: .2rem;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%)
    }
    #app .home-background {
        width: 100%;
        height: 100vh;
        background: url(background2.jpeg) 50%/cover no-repeat;
        position: fixed
    }
    #app .home-background:before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .4);
        content: ""
    }
    #app .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        top: 150px;
        left: 50%;
        text-align: center;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        width: 300px
    }
    #app .container .title {
        color: #fff;
        font-size: 40px
    }
    #app .container .subtitle {
        color: #fff;
        font-size: 30px
    }
    #app .container .link {
        color: #fff
    }
    #app .note {
        display: none
    }
}

@media screen and (max-width:777px)and (max-height:600px) {
    #app .ff-logo {
        width: 150px;
        height: 50px;
        position: absolute;
        top: .2rem;
        left: 2rem
    }
    #app .container {
        top: 50px
    }
    #app .container .title {
        font-size: 35px
    }
    #app .container .subtitle {
        font-size: 22px
    }
    #app .container .link {
        font-size: 20px
    }
    #app .container .options {
        width: 4rem
    }
    #app .container .options .btn-apple,
    #app .container .options .btn-facebook,
    #app .container .options .btn-google,
    #app .container .options .btn-huawei,
    #app .container .options .btn-twitter,
    #app .container .options .btn-vk {
        width: 38px;
        height: 38px
    }
}

@media screen and (max-width:400px) {
    #app .container {
        top: 80px
    }
    #app .container .title {
        font-size: 30px
    }
    #app .container .subtitle {
        font-size: 20px
    }
    #app .container .options .btn-apple,
    #app .container .options .btn-facebook,
    #app .container .options .btn-google,
    #app .container .options .btn-huawei,
    #app .container .options .btn-twitter,
    #app .container .options .btn-vk {
        width: 50px;
        height: 50px
    }
}

@media screen and (max-width:400px)and (max-height:600px) {
    #app .ff-logo {
        width: 150px;
        height: 50px;
        position: absolute;
        top: .2rem;
        left: 3rem
    }
    #app .container {
        top: 70px
    }
    #app .container .title {
        font-size: 30px
    }
    #app .container .subtitle {
        font-size: 20px
    }
    #app .container .options {
        width: 4rem
    }
    #app .container .options .btn-apple,
    #app .container .options .btn-facebook,
    #app .container .options .btn-google,
    #app .container .options .btn-huawei,
    #app .container .options .btn-twitter,
    #app .container .options .btn-vk {
        width: 38px;
        height: 38px
    }
}

.modal-enter {
    opacity: 0
}

.modal-enter .dialog {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.modal-enter-active {
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.modal-enter-active .dialog {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
}

blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
    padding: 0;
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
b,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: 400;
    font-style: normal
}

li,
ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 100%
}

q:after,
q:before {
    content: ""
}

abbr,
acronym {
    border: 0
}

a {
    text-decoration: none
}

button,
div,
input,
option,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    -webkit-tap-highlight-color: transparent
}

input {
    background-color: transparent;
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

a,
button {
    cursor: pointer;
    border: none;
    -webkit-transition: all .13s;
    transition: all .13s
}

a:hover,
button:hover {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2)
}

a:active,
button:active {
    -webkit-transition: all 0s;
    transition: all 0s;
    -webkit-transform: scale(1.07);
    transform: scale(1.07)
}

button:focus,
input:focus,
textarea:focus {
    outline: none
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 16px
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

html {
    overflow: hidden;
    background: #000
}

html body {
    width: 100%;
    height: 100%;
    position: relative
}