.mc-globalfooter {
    background-color: #111
}

.mc-globalfooter h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: .9275rem;
    margin-bottom: 0
}

.mc-globalfooter__social-share {
    background-color: #000;
    padding: 19px 0 9px 0
}

.mc-globalfooter__social-share ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 23px;
    padding: 0;
    flex-wrap: wrap
}

.mc-globalfooter__social-share ul li {
    margin: auto 2pc;
    padding-bottom: 15px
}

.mc-globalfooter__social-share ul li a {
    cursor: pointer
}

.mc-globalfooter__social-share h3 {
    line-height: 20px;
    text-align: center;
    margin: 0
}

.mc-globalfooter__nav-container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 64px 0
}

.mc-globalfooter__nav-container a {
    font-size: .75rem;
    transition: .5s ease-in-out;
    transition-property: color;
    color: #a0e080;
    text-decoration: none
}

.mc-globalfooter__nav-container a:focus,
.mc-globalfooter__nav-container a:hover {
    text-decoration: none;
    background-color: transparent
}

.mc-globalfooter__nav-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.mc-globalfooter__brandinfo {
    flex: 0 0 42%;
    max-width: 42%
}

.mc-globalfooter__navlists {
    flex: 0 0 58%;
    max-width: 58%
}

.mc-globalfooter__logo-container {
    display: inline-flex
}

.mc-globalfooter__logo-container+.mc-globalfooter__logo-container {
    margin-left: 60px
}

.mc-globalfooter-copyright {
    color: #d1cfce;
    line-height: 14px;
    font-size: .75rem;
    margin: 35px 0 16px 0
}

.mc-globalfooter__brandinfo ul {
    display: flex
}

.mc-globalfooter__brandinfo ul li {
    display: flex;
    padding: 0 .5em
}

.mc-globalfooter__brandinfo ul li:first-child {
    padding-left: 0
}

.mc-globalfooter__brandinfo ul li a {
    display: inline-block;
    line-height: 13px
}

.mc-globalfooter__brandinfo ul li+li {
    border-left: 1px solid #fff
}

.mc-globalfooter__navlists {
    display: flex;
    flex-wrap: wrap
}

.mc-globalfooter__navlists-column {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.mc-globalfooter__navlists-column>div+div h3 {
    margin-top: 20px
}

.mc-globalfooter__brandinfo-mobileview {
    display: none
}

.mc-globalfooter__locale {
    background-color: #313131;
    font-family: 'Segoe UI', sans-serif
}

.mc-globalfooter__locale-container {
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    height: 0;
    transition: height 1s ease 0s;
    display: none
}

.mc-globalfooter__locale-container.mc-globalfooter__locale-container-active {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    display: block
}

.mc-globalfooter__locale-container ul {
    column-count: 6;
    padding: 25px 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.mc-globalfooter__locale-container a {
    color: #fff;
    font-size: .725rem;
    text-decoration: none
}

.mc-globalfooter__locale-container a:focus,
.mc-globalfooter__locale-container a:hover {
    background-color: transparent;
    outline-offset: 0
}

.mc-globalfooter__ms-branding {
    max-width: 1140px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex
}

.mc-globalfooter__localeselector-trigger {
    background-color: transparent;
    border: 0;
    color: #fff;
    display: flex;
    font-size: .725rem;
    align-items: center;
    padding-left: 0
}

.mc-globalfooter__localeselector-trigger-text {
    margin-left: 9px
}

.mc-globalfooter__ms-branding-logo {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding-right: 15px;
    padding-left: 15px
}

.mc-globalfooter__localeselector-container {
    padding-right: 15px;
    padding-left: 15px
}

.mc-globalfooter__ms-branding-nav {
    justify-content: center;
    display: flex
}

.mc-globalfooter__ms-branding-nav ul {
    padding: 0;
    margin: 0
}

.mc-globalfooter__ms-branding-nav ul li {
    display: inline-flex;
    padding: 0 15px 0 0
}

.mc-globalfooter__ms-branding-nav ul li:first-child {
    padding-left: 0
}

.mc-globalfooter__ms-branding-nav {
    flex: 0 0 67%;
    max-width: 67%
}

.mc-globalfooter__ms-branding-copyright,
.mc-globalfooter__ms-branding-nav a {
    color: #fff;
    font-size: .725rem
}

.mc-globalfooter__ms-branding-nav a {
    text-decoration: none;
    color: #f8f5f4
}

.mc-globalfooter__ms-branding-nav a:focus,
.mc-globalfooter__ms-branding-nav a:hover {
    background-color: transparent
}

.mc-globalfooter__ms-branding-logo__mobile {
    display: none
}

.mc-globalfooter .mc-socialicon i {
    background-repeat: no-repeat;
    display: block;
    background-image: url(../../../etc.clientlibs/minecraft/clientlibs/footerclientLibNew/resources/img/sprite.png);
    height: 32px;
    width: 32px
}

.mc-socialicon__youtube {
    background-position: -257px -5px
}

.mc-socialicon:active .mc-socialicon__youtube,
.mc-socialicon__youtube:hover {
    background-position: -299px -5px
}

.mc-socialicon__instagram {
    background-position: -342px -6px
}

.mc-socialicon:active .mc-socialicon__instagram,
.mc-socialicon__instagram:hover {
    background-position: -386px -6px
}

.mc-socialicon__facebook {
    background-position: -5px -5px
}

.mc-socialicon:active .mc-socialicon__facebook,
.mc-socialicon__facebook:hover {
    background-position: -47px -5px
}

.mc-socialicon__twitter {
    background-position: -173px -5px
}

.mc-socialicon:active .mc-socialicon__twitter,
.mc-socialicon__twitter:hover {
    background-position: -215px -5px
}

.mc-socialicon__reddit {
    background-position: -89px -5px
}

.mc-socialicon:active .mc-socialicon__reddit,
.mc-socialicon__reddit:hover {
    background-position: -131px -5px
}

.mc-globalfooter__ms-branding__top-row {
    display: flex;
    width: 100%
}

.mc-globalfooter__icon-globe {
    background-image: url(../../../content/dam/games/minecraft/logos/globe.svg);
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px
}

@media only screen and (max-width:1199.98px) {
    .mc-globalfooter__locale-container ul {
        column-count: 5
    }
    .mc-globalfooter__locale-container,
    .mc-globalfooter__ms-branding,
    .mc-globalfooter__nav-container {
        max-width: 960px
    }
    .mc-globalfooter__mojanglogo {
        width: 100px;
        height: 85px
    }
    .mc-globalfooter__xboxlogo {
        width: 130px;
        height: 70px
    }
    .mc-globalfooter__brandinfo {
        flex: 0 0 25%;
        max-width: 25%
    }
    .mc-globalfooter__navlists {
        flex: 0 0 75%;
        max-width: 75%
    }
    .mc-globalfooter__brandinfo:first-child .mc-globalfooter__copyright-and-terms {
        display: none
    }
    .mc-globalfooter__brandinfo.mc-globalfooter__brandinfo-mobileview {
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px
    }
    .mc-globalfooter__brandinfo-mobileview .mc-globalfooter__copyright-and-terms {
        width: 100%
    }
    .mc-globalfooter__brandinfo-mobileview .mc-globalfooter__logo-container {
        display: none
    }
    .mc-globalfooter__brandinfo-desktopview .mc-globalfooter__logo-container {
        width: 100%
    }
    .mc-globalfooter__logo-container+.mc-globalfooter__logo-container {
        margin-top: 40px;
        margin-left: 0
    }
    .mc-globalfooter__logo-container img {
        display: block;
        margin: 0 auto;
        height: 100%;
        max-width: 75%
    }
}

@media only screen and (max-width:991.98px) {
    .mc-globalfooter__nav-container {
        position: relative;
        max-width: 720px;
        flex-wrap: wrap
    }
    .mc-globalfooter__locale-container ul {
        column-count: 4
    }
    .mc-globalfooter__logo-container {
        display: block
    }
    .mc-globalfooter__logo-container img {
        display: block;
        margin: 0 auto;
        height: 100%;
        max-width: 75%
    }
    .mc-globalfooter__ms-branding {
        flex-wrap: wrap
    }
    .mc-globalfooter__localeselector-container {
        flex: auto;
        margin: 0;
        padding: 0;
        max-width: initial
    }
    .mc-globalfooter__ms-branding-nav {
        flex: 0 0 83%;
        max-width: 83%;
        justify-content: left
    }
    .mc-globalfooter__ms-branding-logo,
    .mc-globalfooter__ms-branding-nav {
        padding-top: 15px
    }
    .mc-globalfooter__locale-container,
    .mc-globalfooter__ms-branding {
        max-width: 720px
    }
    .mc-globalfooter__ms-branding-logo {
        padding-left: 0
    }
    .mc-globalfooter__ms-branding-logo__mobile {
        display: flex;
        width: 105px;
        height: 25px
    }
    .mc-globalfooter__ms-branding-logo {
        display: none
    }
}

@media only screen and (max-width:767.98px) {
    .mc-globalfooter__ms-branding-nav {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px 30px 0
    }
    .mc-globalfooter__locale-container ul {
        column-count: 3
    }
    .mc-globalfooter__ms-branding__top-row {
        padding: 0 30px
    }
    .mc-globalfooter__brandinfo:first-child {
        display: none
    }
    .mc-globalfooter__navlists {
        flex: 0 0 100%;
        max-width: 100%
    }
    .mc-globalfooter__brandinfo.mc-globalfooter__brandinfo-mobileview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px
    }
    .mc-globalfooter__brandinfo-mobileview .mc-globalfooter__logo-container {
        display: flex;
        align-items: center;
        margin-top: 0;
        max-width: 50%
    }
    .mc-globalfooter__brandinfo-mobileview .mc-globalfooter__logo-container img {
        height: auto;
        margin: 0
    }
    .mc-globalfooter__navlists-column {
        flex: 0 0 33.3%;
        max-width: 33.3%;
        width: 33.3%;
        padding-bottom: 20px
    }
}

@media only screen and (max-width:575.98px) {
    .mc-globalfooter__nav-container {
        padding: 4pc 1pc
    }
    .mc-globalfooter__locale-container ul {
        column-count: 2
    }
    .mc-globalfooter__brandinfo:first-child {
        display: none
    }
    .mc-globalfooter__navlists {
        flex: 0 0 100%;
        max-width: 100%
    }
    .mc-globalfooter__brandinfo.mc-globalfooter__brandinfo-mobileview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px
    }
    .mc-globalfooter__brandinfo-mobileview .mc-globalfooter__logo-container {
        display: flex;
        align-items: center;
        margin-top: 0;
        max-width: 50%
    }
    .mc-globalfooter__brandinfo-mobileview .mc-globalfooter__logo-container img {
        max-width: 100%;
        height: auto;
        width: 75%;
        margin: 0
    }
    .mc-globalfooter__navlists-column {
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%;
        padding-bottom: 20px
    }
    .mc-globalfooter__social-share ul li {
        margin: 0 30px 0 0
    }
    .mc-globalfooter__ms-branding-nav {
        padding: 15px 15px 0
    }
    .mc-globalfooter__ms-branding__top-row {
        padding: 0 15px
    }
}

@media only screen and (max-width:374px) {
    .mc-globalfooter__navlists-column {
        flex: 0 0 100%;
        padding-bottom: 20px;
        max-width: 100%;
        width: 100%
    }
}

@media (hover:none) {
    .mc-socialicon__youtube:hover {
        background-position: -257px -5px
    }
    .mc-socialicon__instagram:hover {
        background-position: -342px -6px
    }
    .mc-socialicon__facebook:hover {
        background-position: -5px -5px
    }
    .mc-socialicon__twitter:hover {
        background-position: -173px -5px
    }
    .mc-socialicon__reddit:hover {
        background-position: -89px -5px
    }
}

@media (forced-colors:active) and (prefers-color-scheme:light) {
    .mc-globalfooter__icon-globe {
        background-image: url(../../../content/dam/games/minecraft/logos/globe-black.svg)
    }
}