.mc-skip-to-main {
    position: absolute;
    top: auto;
    overflow: hidden;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400
}

.mc-skip-to-main,
a.mc-skip-to-main:hover {
    left: -999px;
    width: 1px;
    height: 1px
}

.mc-skip-to-main:focus,
a.mc-skip-to-main:active {
    background: #e6e6e6;
    color: #0067b8;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: auto;
    height: auto;
    overflow: auto;
    right: 0;
    text-decoration: underline;
    text-align: center;
    z-index: 99999;
    outline: 0
}

.x-hidden-focus {
    outline-color: transparent;
    outline-style: none
}

.mc-skip-to-main:focus {
    border: 1px dashed #000;
    outline: 0
}

.mc-skip-to-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}

.mc-globalbanner {
    width: 100%;
    min-height: 35px;
    background-color: #000;
    display: flex;
    padding: 9px 0;
    font-size: .6875rem;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -1px
}

.mc-globalbanner__promo-text {
    color: #fff;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    line-height: initial
}

.mc-globalbanner__promo-text p {
    margin: 0
}

.mc-globalbanner__promo-link {
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    color: #a0e081;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    line-height: initial
}

.mc-globalbanner__promo-link:hover {
    text-decoration: underline;
    color: #fff
}

.mc-globalbanner__promo-link-dungeons {
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    color: #ffb054;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    line-height: initial
}

.mc-globalbanner__promo-link-dungeons:hover {
    text-decoration: underline;
    color: #fff
}

.mc-globalhead__drop-nav img {
    width: auto
}

.mc-globalhead__nav-link img {
    width: auto
}

.mc-button__primary {
    padding: 15px 24px;
    border: none;
    font-size: 1.125rem;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .03em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .25s, opacity .75s .5s;
    font-family: 'Noto Sans'
}

.mc-button__green-s1 {
    background: #3b8526;
    box-shadow: inset 0 4px #6bc349, inset 0 -4px #2a631c, 0 4px rgb(0 0 0 / 25%);
    color: #fff;
    text-shadow: 0 1px 0 #2a631c
}

.mc-button__green-s1:focus,
.mc-button__green-s1:hover {
    transition: all .25s, opacity .75s .5s;
    background-image: linear-gradient(#8d8e92, #e7eaef);
    color: #252525;
    text-shadow: 0 -1px 0 #e7eaef;
    box-shadow: inset 0 -2px #e7eaef, inset 0 2px #8d8e92
}

.mc-button__orange-s1 {
    background: #ffb054;
    box-shadow: 0 4px 0 rgb(0 0 0 / 10%), inset 0 4px 0 #fce07e, inset 0 -4px 0 #df8318;
    color: #6f2900;
    text-shadow: 0 1px 0 #fce07e
}

.mc-button__orange-s1:focus,
.mc-button__orange-s1:hover {
    transition: all .25s, opacity .75s .5s;
    background-image: linear-gradient(#8d8e92, #e7eaef);
    color: #252525;
    text-shadow: 0 -1px 0 #e7eaef;
    box-shadow: inset 0 -2px #e7eaef, inset 0 2px #8d8e92
}

.mc-globalhead__mobilecontrols-trigger .hamburger-icon {
    width: 36px;
    height: auto;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto
}

.mc-globalhead__mobilecontrols-trigger.mc-globalhead__mobilecontrols-trigger-dungeons img {
    content: url(../../../content/dam/games/minecraft/logos/hamburger-dungeons-icon.png)
}

.mc-globalhead__navcontainer {
    background-color: #171615;
    padding: 0 13px;
    height: 83px
}

.mc-globalhead__navsection {
    display: flex;
    height: 100%
}

.mc-globalheader__logocontainer {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    display: inline-flex
}

.mc-globalheader__logocontainer img {
    max-width: 175px;
    height: 40px
}

.mc-globalhead__mobilecontrols {
    display: none
}

.mc-globalhead__drop-trigger,
.mc-globalhead__nav-link {
    height: 100%;
    background-color: transparent;
    color: #fff;
    border: 0;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-family: 'Noto Sans';
    font-size: .75rem;
    letter-spacing: .08em;
    text-align: center;
    text-transform: uppercase;
    outline-offset: -2px
}

.mc-globalhead__drop-trigger.mc-globalhead__drop-trigger-dungeons {
    color: #ffb054
}

.mc-globalhead__drop-trigger.mc-globalhead__drop-trigger-dungeons:hover {
    color: #fff
}

.mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:focus,
.mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:hover {
    background-color: #ffb054
}

.mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons {
    color: #ffb054
}

.mc-globalhead__accountnav .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons:hover {
    color: #fff
}

.mc-globalhead__drop-link {
    font-size: .75rem;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #a0e080;
    outline-offset: -2px;
    font-family: 'Noto Sans'
}

.mc-globalhead__drop-link:focus,
.mc-globalhead__drop-link:hover {
    background-color: #a0e080;
    text-decoration: none;
    color: #005229
}

.mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons {
    color: #ffb054
}

.mc-globalhead__secondry .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons {
    color: #ffb054
}

.mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:focus,
.mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:hover {
    text-decoration: none;
    color: #000
}

.mc-globalhead__navcontainer .mc-globalhead__primarynav .mc-globalhead__nav-link-icon {
    filter: invert(0) brightness(2);
    padding-left: 6px
}

.mc-globalhead__nav-link:focus .mc-globalhead__nav-link-icon,
.mc-globalhead__nav-link:hover .mc-globalhead__nav-link-icon {
    filter: invert(0) brightness(1)
}

#mc-globalhead__nav-login-dropdown-1 {
    min-width: 125px;
    width: calc(100% - 20px);
    left: 10px
}

@media only screen and (max-width:576px) {
    .mc-globalhead__accountnav ul {
        padding-left: 0
    }
    .mc-globalhead__navsection .mc-globalhead__accountnav li:not(.mc-globalhead__btnlist-container) {
        display: block;
        min-width: 0
    }
    .mc-globalhead__mobilecontrols {
        align-items: center;
        display: inline-flex;
        position: relative;
        width: 100%;
        height: 100%
    }
    .mc-globalbanner .mc-globalhead__accountnav {
        display: none
    }
    .mc-globalhead__accountnav,
    .mc-globalhead__primarynav {
        background-color: #000
    }
    .mc-globalhead__primarynav+.mc-globalheader__logocontainer {
        display: none
    }
    .mc-globalhead__navcontainer {
        position: relative;
        height: 60px;
        z-index: 100
    }
    .mc-globalhead__mobilecontrols-gradient {
        fill: #fff
    }
    .mc-globalhead__mobilecontrols-trigger {
        display: block;
        position: absolute;
        padding: 0;
        border: 0;
        background-color: transparent
    }
    .mc-globalhead__mobilecontrols-hamburgermenu:focus {
        outline: 0
    }
    .mc-globalhead__mobilecontrols-closeicon,
    .mc-globalhead__mobilecontrols-trigger-active .mc-globalhead__mobilecontrols-hamburgericon {
        display: none
    }
    .mc-globalhead__mobilecontrols-closeicon,
    .mc-globalhead__mobilecontrols-hamburgericon {
        fill: #fff
    }
    .mc-globalhead__mobilecontrols-closeicon.mc-globalhead__mobilecontrols-closebtn,
    .mc-globalhead__mobilecontrols-hamburgericon.mc-globalhead__mobilecontrols-hamburgericon-dungeons {
        fill: #6f2900
    }
    .mc-globalhead__mobilecontrols-hamburgerbackground path {
        fill: #ffb054 !important
    }
    .mc-globalhead__mobilecontrols-trigger-active .mc-globalhead__mobilecontrols-closeicon {
        display: block
    }
    .mc-globalhead__navsection {
        visibility: hidden;
        height: 0;
        width: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 3;
        background-color: #000;
        transition: all .4s ease-in-out;
        display: block
    }
    .mc-globalhead__mobilemenu-active {
        visibility: visible;
        height: 100vh;
        width: 100%
    }
    .mc-globalhead__mobilemenu-animation-complete {
        overflow: visible
    }
    .mc-globalhead__primarynav {
        margin-left: 0
    }
    .mc-globalhead__primarynav ul ul {
        border-top: 1px solid #4a494b
    }
    .mc-globalhead__accountnav>ul,
    .mc-globalhead__primarynav>ul {
        padding: 0;
        margin-bottom: 0
    }
    .mc-globalhead__primarynav .mc-globalhead__drop-trigger {
        color: #d0c5c1;
        border: 0;
        background-color: transparent;
        margin-left: 20px;
        margin-bottom: 9px;
        pointer-events: none;
        cursor: none;
        margin-top: 14px
    }
    .mc-globalhead__accountnav .mc-globalhead__nav-link,
    .mc-globalhead__primarynav .mc-globalhead__nav-link {
        padding-left: 30px;
        font-weight: 400;
        outline-offset: 0;
        list-style-type: none;
        width: 100%;
        border-bottom: 1px solid #4a494b;
        color: #a0e080;
        display: block;
        text-align: left;
        height: 44px;
        line-height: 44px
    }
    .mc-globalhead__accountnav .mc-globalhead__nav-link:focus,
    .mc-globalhead__primarynav .mc-globalhead__nav-link:hover {
        color: #252525;
        background: #a0e080
    }
    .mc-globalhead__accountnav .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons:focus,
    .mc-globalhead__accountnav .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons:hover {
        color: #000;
        background: #ffb054
    }
    .mc-globalhead__primarynav>ul>li:first-child {
        border-bottom: 2px solid #3b8526;
        padding-bottom: 0
    }
    .mc-globalhead__primarynav>ul ul {
        padding-left: 0;
        padding-inline-start: 0
    }
    .mc-globalhead__primarynav>ul ul li {
        list-style-type: none
    }
    .mc-globalhead__primarynav>ul ul ul {
        border-top: 0
    }
    .mc-globalhead__drop-link {
        min-height: 44px;
        align-items: center;
        padding-right: 10px;
        padding-left: 30px;
        width: 100%;
        display: inline-flex;
        list-style-position: inside;
        line-height: 44px;
        border-bottom: 1px solid #4a494b
    }
    .mc-globalhead__drop-link:focus,
    .mc-globalhead__drop-link:hover {
        background-color: #a0e080;
        color: #252525;
        outline-offset: -2px
    }
    .mc-globalhead__drop-icon {
        display: block;
        margin-right: 7px;
        height: auto
    }
    .mc-globalhead__drop-trigger-text.mc-chevron {
        background-size: 0
    }
    .mc-globalhead__drop-active .mc-globalhead__drop-trigger-text.mc-chevron {
        background-size: 0
    }
    .mc-globalhead__nav-link:focus,
    .mc-globalhead__nav-link:hover {
        text-decoration: none;
        color: #252525;
        background: #a0e080
    }
    .mc-globalhead__accountnav .mc-globalhead__btnlist-container {
        display: none
    }
    .mc-globalhead__navsection .mc-globalhead__accountnav .mc-globalhead__drop-container {
        border-top: 2px solid #3b8526
    }
    .mc-globalhead__navsection .mc-globalhead__accountnav .mc-globalhead__drop-trigger {
        margin-left: 30px;
        padding: 0;
        pointer-events: none;
        color: #d0c5c1;
        margin-bottom: 11px;
        margin-top: 17px
    }
    .mc-globalhead__drop-trigger-text.mc-chevron {
        background-size: 0
    }
    .mc-globalhead__navsection .mc-globalhead__accountnav .mc-globalhead__drop-nav {
        font-size: .75rem;
        border-top: 1px solid #4a494b;
        padding-inline-start: 0
    }
    .mc-globalhead__navsection .mc-globalhead__accountnav .mc-globalhead__drop-nav>li {
        list-style: disc;
        display: list-item
    }
    .mc-globalbanner__promo-link {
        text-align: center;
        margin: 0 auto
    }
    .mc-globalhead__navcontainer .mc-globalhead__primarynav .mc-globalhead__nav-link-icon {
        filter: invert(0) brightness(1)
    }
    .mc-globalhead__nav-link:focus .mc-globalhead__nav-link-icon,
    .mc-globalhead__nav-link:hover .mc-globalhead__nav-link-icon {
        filter: invert(1) brightness(0)
    }
    .mc-globalhead__username {
        max-width: 65px
    }
}

@media only screen and (min-width:577px) {
    .mc-globalhead__drop-container .mc-globalhead__drop-trigger .mc-globalhead__drop-trigger-text.mc-chevron {
        background-image: url(../../../content/dam/games/minecraft/logos/down-arrow.png);
        background-repeat: no-repeat;
        background-size: 10px 6px;
        background-position: 100% 50%
    }
    .mc-globalhead__drop-container.mc-globalhead__drop-active .mc-globalhead__drop-trigger .mc-globalhead__drop-trigger-text.mc-chevron {
        background-image: url(../../../content/dam/games/minecraft/logos/up-arrow.png);
        background-repeat: no-repeat;
        background-size: 10px 6px;
        background-position: 100% 50%
    }
    .mc-globalhead__drop-trigger .mc-globalhead__drop-trigger-text.mc-chevron.mc-chevron-dungeons.mc-globalhead__username {
        background-image: url(../../../content/dam/games/minecraft/logos/down-arrow-orange.png);
        background-repeat: no-repeat;
        background-size: 10px 6px;
        background-position: 100% 50%
    }
    .mc-globalhead__drop-trigger .mc-globalhead__drop-active .mc-globalhead__drop-trigger-text.mc-chevron.mc-chevron-dungeons.mc-globalhead__username {
        background-image: url(../../../content/dam/games/minecraft/logos/up-arrow-white.png);
        background-repeat: no-repeat;
        background-size: 10px 6px;
        background-position: 100% 50%
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-trigger .mc-globalhead__drop-trigger-text.mc-chevron {
        background-image: url(../../../content/dam/games/minecraft/logos/down-arrow-green.png);
        background-repeat: no-repeat;
        background-size: 10px 6px;
        background-position: 100% 50%;
        display: block
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-active .mc-globalhead__drop-trigger .mc-globalhead__drop-trigger-text.mc-chevron {
        background-image: url(../../../content/dam/games/minecraft/logos/up-arrow-white.png);
        background-repeat: no-repeat;
        background-size: 10px 6px;
        background-position: 100% 50%
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-container.mc-globalhead__drop-active .mc-globalhead__drop-trigger-text.mc-chevron {
        color: #fff
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-container.mc-globalhead__drop-active .mc-globalhead__drop-trigger-text.mc-chevron.mc-chevron-dungeons {
        color: #fff
    }
    .mc-globalhead__drop-container.mc-globalhead__drop-active .mc-globalhead__drop-trigger-text.mc-chevron {
        color: #a0e081
    }
}

@media only screen and (max-width:992px) {
    .mc-button__orange-s1 {
        background: 0 0;
        box-shadow: none;
        color: #ffb054;
        text-shadow: none
    }
    .mc-button__green-s1 {
        background: 0 0;
        box-shadow: none;
        text-shadow: none;
        color: #a0e080
    }
    .mc-globalhead__primarynav li:nth-child(2) .mc-globalhead__btnlist-container-mobile {
        display: none
    }
    .mc-globalhead__primarynav li:nth-child(3) .mc-globalhead__btnlist-container-mobile {
        display: none
    }
    .mc-globalhead__primarynav .mc-globalhead__btnlist .mc-button__primary-link {
        min-height: 44px;
        align-items: center;
        padding-right: 10px;
        padding-left: 46px;
        width: 100%;
        display: inline-flex;
        line-height: 44px;
        border-bottom: 1px solid #4a494b;
        font-size: .75rem;
        letter-spacing: .02em;
        text-transform: uppercase;
        color: #a0e080
    }
    .mc-globalhead__primarynav .mc-globalhead__btnlist .mc-button__primary-link:focus,
    .mc-globalhead__primarynav .mc-globalhead__btnlist .mc-button__primary-link:hover {
        background-color: #a0e080;
        color: #252525
    }
    .mc-globalhead__primarynav .mc-globalhead__btnlist .mc-button__primary-link.mc-button__primary-link-dungeons {
        color: #ffb054
    }
    .mc-globalhead__primarynav .mc-globalhead__btnlist .mc-button__primary-link.mc-button__primary-link-dungeons:focus,
    .mc-globalhead__primarynav .mc-globalhead__btnlist .mc-button__primary-link.mc-button__primary-link-dungeons:hover {
        color: #000;
        background: #ffb054
    }
    .mc-globalhead__primarynav>ul ul li img.mc-globalhead__drop-iconmobile {
        margin-right: 10px;
        height: auto
    }
    .mc-button__primary-link.mc-button__primary-link-dungeons .mc-globalhead__drop-iconmobile {
        width: 6px
    }
    .mc-button__primary:focus,
    .mc-button__primary:hover {
        transition: none;
        background: 0 0;
        color: #fff;
        text-shadow: none;
        box-shadow: none
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav ul {
        padding-left: 0
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .mc-globalheader__logocontainer.mc-globalheader__tablogo {
        display: none
    }
    .mc-globalhead__mobilecontrols {
        display: block
    }
    .mc-globalhead__primary .mc-globalhead__mobilecontrols button.mc-globalhead__mobilecontrols-trigger {
        display: none
    }
    .mc-globalhead.mc-globalhead__secondry .mc-globalhead__navsection .mc-globalhead__accountnav li:not(.mc-globalhead__btnlist-container) {
        display: block;
        min-width: 0
    }
    .mc-globalhead.mc-globalhead__primary .mc-globalhead__navsection .mc-globalhead__accountnav li:not(.mc-globalhead__btnlist-container) {
        display: none
    }
    .mc-globalhead__primary .mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:focus,
    .mc-globalhead__primary .mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:hover {
        background-color: #ffb054
    }
    .mc-globalhead__primary .mc-globalhead__navsection {
        height: auto;
        margin-top: 7px
    }
    .mc-globalhead__primary .mc-globalhead__navsection.mc-globalhead__navsection-scrollable {
        overflow-x: inherit !important
    }
    .mc-globalhead__primary .mc-globalhead__primarynav>ul,
    .mc-globalhead__primary .mc-globalhead__primarynav>ul>li {
        height: 100%
    }
    .mc-globalhead__primary .mc-globalhead__primarynav {
        height: 40px
    }
    .mc-globalhead__primary .mc-globalhead__primarynav>ul {
        padding-left: 0;
        display: inline-flex;
        margin-bottom: 0
    }
    .mc-globalhead__primary .mc-globalhead__primarynav>ul>li {
        list-style: none;
        min-width: 84px
    }
    .mc-globalhead__primary .mc-globalhead__drop-nav {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        padding-left: 0;
        position: absolute;
        top: 100%;
        z-index: 2;
        background-color: #000;
        transition: all .4s ease-in-out
    }
    .mc-globalhead__primary .mc-globalhead__drop-nav li {
        list-style-type: none
    }
    .mc-globalhead__primary .mc-globalhead__drop-nav li {
        border-bottom: 1px solid #535050
    }
    .mc-globalhead__primary .mc-globalhead__drop-nav li:last-child {
        border-bottom: 0
    }
    .mc-globalhead__primary .mc-globalhead__drop-nav .mc-globalhead__drop-link {
        min-height: 44px;
        display: inline-flex;
        align-items: center;
        padding-right: 10px;
        font-weight: 700;
        width: 100%;
        padding-left: 12px
    }
    .mc-globalhead__primary .mc-globalhead__drop-nav .mc-globalhead__drop-link:focus,
    .mc-globalhead__primary .mc-globalhead__drop-nav .mc-globalhead__drop-link:hover {
        color: #000
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons {
        color: #ffb054
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons:focus {
        background: #ffb054
    }
    .mc-globalhead__primary .mc-globalhead__drop-nav .mc-globalhead__drop-icon {
        margin: 0 7px 0 0
    }
    .mc-globalhead__primary .mc-globalhead__nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px
    }
    .mc-globalhead__primary .mc-globalhead__nav-link:focus,
    .mc-globalhead__primary .mc-globalhead__nav-link:hover {
        background-color: transparent;
        text-decoration: none;
        color: #a0e080
    }
    .mc-globalhead__primary .mc-globalhead__drop-trigger {
        padding-right: 15px;
        position: relative;
        padding-left: 5px
    }
    .mc-globalhead__primary .mc-globalhead__drop-trigger-text {
        padding-right: 16px
    }
    .mc-globalhead__primary .mc-glob.mc-globalhead__drop-trigger .mc-chevron {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: rotate(90deg)
    }
    .mc-globalhead__primary .mc-globalhead__drop-active>.mc-globalhead__drop-nav {
        visibility: visible;
        height: auto
    }
    .mc-globalhead__primary .mc-globalhead__drop-container {
        position: relative
    }
    .mc-globalhead__primary .mc-globalhead__drop-container:focus .mc-globalhead__drop-trigger,
    .mc-globalhead__primary .mc-globalhead__drop-container:hover .mc-globalhead__drop-trigger {
        color: #a0e080;
        background-color: transparent;
        outline-offset: -2px
    }
    .mc-globalhead__primary .mc-globalhead__drop-container.mc-globalhead__drop-active .mc-globalhead__drop-trigger img.mc-chevron,
    .mc-globalhead__primary .mc-globalhead__drop-container:focus .mc-globalhead__drop-trigger img.mc-chevron,
    .mc-globalhead__primary .mc-globalhead__drop-container:hover .mc-globalhead__drop-trigger img.mc-chevron {
        transform: rotate(-90deg)
    }
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__drop-link {
        padding: 0 7px
    }
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__drop-trigger,
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__nav-link {
        color: #a0e080
    }
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__drop-trigger.mc-globalhead__drop-trigger-username {
        color: #ffb054
    }
    .mc-globalhead__primary .mc-globalhead__navcontainer .mc-globalhead__drop-nav {
        width: 258px;
        top: 100%
    }
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__drop-trigger:focus,
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__drop-trigger:hover,
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__nav-link:focus,
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__nav-link:hover {
        text-decoration: none
    }
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__drop-trigger {
        padding-right: 20px;
        padding-left: 20px
    }
    .mc-globalhead__primary .mc-globalhead__accountnav>ul,
    .mc-globalhead__primary .mc-globalhead__accountnav>ul>li {
        height: 100%
    }
    .mc-globalhead__primary .mc-globalhead__accountnav {
        height: 40px
    }
    .mc-globalhead__primary .mc-globalhead__accountnav>ul {
        padding-left: 0;
        display: inline-flex;
        margin-bottom: 0
    }
    .mc-globalhead__primary .mc-globalhead__accountnav>ul>li {
        list-style: none;
        min-width: 80px;
        display: inline-block
    }
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__btnlist-container {
        justify-content: center;
        align-items: center;
        display: inline-flex;
        margin-left: 10px
    }
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__nav-link:focus,
    .mc-globalhead__primary .mc-globalhead__accountnav .mc-globalhead__nav-link:hover {
        color: #fff
    }
    .mc-globalhead__primary .mc-globalhead__primarynav .mc-globalhead__btnlist-container-mobile {
        display: none
    }
    .mc-globalhead__primary #mc-globalhead__nav-login-button-2 {
        display: none
    }
    .mc-globalhead__primary .mc-globalhead__navcontainer .mc-globalhead__nav-login .mc-globalhead__nav-link {
        display: none
    }
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols {
        align-items: center;
        display: inline-flex;
        position: relative;
        width: 100%;
        height: 100%
    }
    .mc-globalhead__secondry .mc-globalbanner .mc-globalhead__accountnav {
        display: none
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav,
    .mc-globalhead__secondry .mc-globalhead__primarynav {
        background-color: #000
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav+.mc-globalheader__logocontainer {
        display: none
    }
    .mc-globalhead__secondry .mc-globalhead__navcontainer {
        position: relative;
        height: 60px
    }
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-gradient {
        fill: #fff
    }
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-trigger {
        display: block;
        position: absolute;
        padding: 0;
        border: 0;
        background-color: transparent
    }
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-hamburgermenu:focus {
        outline: 0
    }
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-closeicon,
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-trigger-active .mc-globalhead__mobilecontrols-hamburgericon {
        display: none
    }
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-closeicon,
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-hamburgericon {
        fill: #fff
    }
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-closeicon.mc-globalhead__mobilecontrols-closebtn,
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-hamburgericon.mc-globalhead__mobilecontrols-hamburgericon-dungeons {
        fill: #6f2900
    }
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-hamburgerbackground path {
        fill: #ffb054 !important
    }
    .mc-globalhead__secondry .mc-globalhead__mobilecontrols-trigger-active .mc-globalhead__mobilecontrols-closeicon {
        display: block
    }
    .mc-globalhead__secondry .mc-globalhead__navsection {
        visibility: hidden;
        height: 0;
        width: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 3;
        background-color: #000;
        transition: all .4s ease-in-out;
        display: block
    }
    .mc-globalhead__secondry .mc-globalhead__mobilemenu-active {
        visibility: visible;
        height: 100vh;
        width: 100%
    }
    .mc-globalhead__secondry .mc-globalhead__mobilemenu-animation-complete {
        overflow: visible
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav {
        margin-left: 0
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav ul ul {
        border-top: 1px solid #4a494b
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav>ul,
    .mc-globalhead__secondry.mc-globalhead__accountnav>ul {
        padding: 0;
        margin-bottom: 0
    }
    .mc-globalhead__secondry .mc-globalhead__username {
        max-width: 65px
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav .mc-globalhead__btnlist-container {
        display: none
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav .mc-globalhead__drop-trigger {
        color: #d0c5c1;
        border: 0;
        background-color: transparent;
        margin-left: 20px;
        margin-bottom: 9px;
        pointer-events: none;
        cursor: none;
        margin-top: 14px
    }
    .mc-globalhead__secondry .mc-globalhead__drop-container .mc-globalhead__drop-trigger .mc-globalhead__drop-trigger-text.mc-chevron {
        background-size: 0
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav .mc-globalhead__drop-trigger img.mc-chevron {
        display: none
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav .mc-globalhead__nav-link,
    .mc-globalhead__secondry .mc-globalhead__primarynav .mc-globalhead__nav-link {
        padding-left: 30px;
        font-weight: 400;
        outline-offset: 0;
        list-style-type: none;
        width: 100%;
        padding-top: 9px;
        padding-bottom: 9px;
        border-bottom: 1px solid #4a494b;
        color: #a0e080;
        display: block;
        text-align: left
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav .mc-globalhead__nav-link:focus,
    .mc-globalhead__secondry .mc-globalhead__primarynav .mc-globalhead__nav-link:hover {
        color: #252525;
        background: #a0e080
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav>ul>li:first-child {
        border-bottom: 2px solid #3b8526;
        padding-bottom: 0
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav>ul ul {
        padding-left: 0;
        padding-inline-start: 0
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav>ul ul li {
        list-style-type: none
    }
    .mc-globalhead__secondry .mc-globalhead__primarynav>ul ul ul {
        border-top: 0
    }
    .mc-globalhead__secondry .mc-globalhead__drop-link {
        min-height: 44px;
        display: inline-flex;
        align-items: center;
        padding-right: 10px;
        padding-left: 30px;
        width: 100%;
        list-style-position: inside;
        line-height: 44px;
        border-bottom: 1px solid #4a494b
    }
    .mc-globalhead__secondry .mc-globalhead__drop-link:focus,
    .mc-globalhead__secondry .mc-globalhead__drop-link:hover {
        background-color: #a0e080;
        color: #252525;
        outline-offset: -2px
    }
    .mc-globalhead__secondry .mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:focus,
    .mc-globalhead__secondry .mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:hover {
        background: #ffb054
    }
    .mc-globalhead__secondry .mc-globalhead__drop-icon {
        display: block;
        margin-right: 7px;
        height: auto
    }
    .mc-globalhead__secondry .mc-globalhead__nav-link:focus,
    .mc-globalhead__secondry .mc-globalhead__nav-link:hover {
        text-decoration: none;
        color: #252525;
        background: #a0e080
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav .mc-globalhead__btnlist-container a {
        color: #a0e080;
        background-color: transparent;
        box-shadow: none;
        font-weight: 400;
        font-size: .75rem;
        text-shadow: none;
        transition: none;
        padding: 0;
        margin-left: 25px
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav .mc-globalhead__btnlist-container a:focus,
    .mc-globalhead__secondry .mc-globalhead__accountnav .mc-globalhead__btnlist-container a:hover {
        background-image: none
    }
    .mc-globalhead__secondry .mc-globalhead__navsection .mc-globalhead__accountnav .mc-globalhead__drop-container {
        border-top: 2px solid #3b8526
    }
    .mc-globalhead__secondry .mc-globalhead__navsection .mc-globalhead__accountnav .mc-globalhead__drop-trigger {
        margin-left: 30px;
        padding: 0;
        pointer-events: none;
        color: #d0c5c1;
        margin-bottom: 11px;
        margin-top: 17px
    }
    .mc-globalhead__secondry .mc-globalhead__navsection .mc-globalhead__accountnav .mc-globalhead__drop-trigger img.mc-chevron {
        display: none
    }
    .mc-globalhead__secondry .mc-globalhead__navsection .mc-globalhead__accountnav .mc-globalhead__drop-nav {
        font-size: .75rem;
        border-top: 1px solid #4a494b
    }
    .mc-globalhead__secondry .mc-globalhead__navsection .mc-globalhead__accountnav .mc-globalhead__drop-nav>li {
        list-style: disc;
        display: list-item
    }
    .mc-globalhead__navcontainer {
        height: 95px
    }
    .mc-globalhead__primary .mc-globalhead__primarynav {
        height: auto;
        display: flex;
        width: 70%;
        margin-left: 0
    }
    .mc-globalhead__primary .mc-globalhead__accountnav {
        height: auto;
        display: flex;
        width: 30%;
        margin-left: 0
    }
    .mc-globalhead__accountnav {
        justify-content: right
    }
    .mc-globalhead__navsection {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        width: 100%
    }
    .mc-globalheader__logocontainer {
        order: -1;
        width: 100%;
        padding-top: 5px
    }
    .mc-globalhead__secondry .mc-globalhead__nav-link .mc-globalhead__nav-link-icon {
        filter: invert(0) brightness(1)
    }
    .mc-globalhead__secondry .mc-globalhead__nav-link:focus .mc-globalhead__nav-link-icon,
    .mc-globalhead__secondry .mc-globalhead__nav-link:hover .mc-globalhead__nav-link-icon {
        filter: invert(1) brightness(0)
    }
}

@media only screen and (min-width:993px) {
    .mc-globalhead.mc-globalhead__secondry .mc-globalhead__navsection .mc-globalhead__accountnav li:not(.mc-globalhead__btnlist-container) {
        display: none;
        min-width: 0
    }
    .mc-globalhead__navsection {
        max-height: auto !important
    }
    .mc-globalhead__navsection.mc-globalhead__navsection-scrollable {
        overflow-x: inherit !important
    }
    .mc-globalhead__primarynav,
    .mc-globalhead__primarynav>ul,
    .mc-globalhead__primarynav>ul>li {
        height: 100%
    }
    .mc-globalhead__primarynav>ul {
        padding-left: 0;
        display: inline-flex;
        margin-bottom: 0
    }
    .mc-globalhead__primarynav>ul>li {
        list-style: none;
        min-width: 79px
    }
    .mc-globalhead__accountnav.mc-globalhead__topnav .mc-globalhead__drop-nav {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        padding-left: 0;
        position: absolute;
        top: 100%;
        z-index: 22;
        background-color: #000;
        transition: all .4s ease-in-out
    }
    .mc-globalhead__accountnav.mc-globalhead__topnav .mc-globalhead__drop-active>.mc-globalhead__drop-nav {
        visibility: visible;
        height: auto
    }
    .mc-globalhead__navcontainer .mc-globalhead__drop-nav {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        padding-left: 0;
        position: absolute;
        top: 75%;
        z-index: 22;
        background-color: #000;
        width: 258px;
        transition: all .4s ease-in-out
    }
    .mc-globalhead__navcontainer .mc-globalhead__drop-active>.mc-globalhead__drop-nav {
        visibility: visible;
        height: auto
    }
    .mc-globalhead__drop-nav li {
        list-style-type: none
    }
    .mc-globalhead__drop-nav li {
        border-bottom: 1px solid #535050
    }
    .mc-globalhead__drop-nav li:last-child {
        border-bottom: 0
    }
    .mc-globalhead__drop-nav .mc-globalhead__drop-link {
        min-height: 44px;
        display: inline-flex;
        align-items: center;
        padding-right: 10px;
        font-weight: 700;
        width: 100%;
        padding-left: 12px
    }
    .mc-globalhead__drop-nav .mc-globalhead__drop-link:focus,
    .mc-globalhead__drop-nav .mc-globalhead__drop-link:hover {
        color: #000
    }
    .mc-globalhead__drop-nav .mc-globalhead__drop-icon {
        margin: 0 7px 0 0
    }
    .mc-globalhead__nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 13px
    }
    .mc-globalhead__nav-link:focus,
    .mc-globalhead__nav-link:hover {
        background-color: transparent;
        text-decoration: none;
        color: #a0e080
    }
    .mc-globalhead__drop-trigger {
        padding-right: 14px;
        position: relative;
        padding-left: 5px
    }
    .mc-globalhead__drop-trigger-text {
        padding-right: 16px
    }
    .mc-globalhead__drop-active>.mc-globalhead__drop-nav {
        visibility: visible;
        height: auto
    }
    .mc-globalhead__drop-container {
        position: relative
    }
    .mc-globalhead__drop-container:focus .mc-globalhead__drop-trigger,
    .mc-globalhead__drop-container:hover .mc-globalhead__drop-trigger {
        color: #a0e080;
        background-color: transparent;
        outline-offset: -2px
    }
    .mc-globalhead__secondry .mc-globalhead__accountnav .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons {
        color: #ffb054
    }
    .mc-globalhead__accountnav .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons:focus,
    .mc-globalhead__accountnav .mc-globalhead__nav-link.mc-globalhead__nav-link-dungeons:hover {
        color: #fff
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-link {
        padding: 0 7px
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-active .mc-globalhead__drop-trigger {
        color: #fff
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-trigger,
    .mc-globalhead__accountnav .mc-globalhead__nav-link {
        color: #a0e080
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-trigger.mc-globalhead__drop-trigger-username {
        color: #ffb054
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-trigger:focus,
    .mc-globalhead__accountnav .mc-globalhead__drop-trigger:hover,
    .mc-globalhead__accountnav .mc-globalhead__nav-link:focus,
    .mc-globalhead__accountnav .mc-globalhead__nav-link:hover {
        text-decoration: none
    }
    .mc-globalhead__accountnav .mc-globalhead__drop-trigger {
        padding-right: 20px;
        padding-left: 20px
    }
    .mc-globalhead__accountnav,
    .mc-globalhead__accountnav>ul,
    .mc-globalhead__accountnav>ul>li {
        height: 100%
    }
    .mc-globalhead__accountnav>ul {
        padding-left: 0;
        display: inline-flex;
        margin-bottom: 0
    }
    .mc-globalhead__accountnav>ul>li {
        list-style: none;
        min-width: 80px;
        display: inline-block
    }
    .mc-globalhead__accountnav .mc-globalhead__btnlist-container {
        justify-content: center;
        align-items: center;
        display: inline-flex;
        margin-left: 10px
    }
    .mc-globalhead__primarynav .mc-globalhead__btnlist-container-mobile {
        display: none
    }
    .mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:focus,
    .mc-globalhead__drop-link.mc-globalhead__nav-link-dungeons:hover {
        background-color: #ffb054
    }
    .mc-globalhead__navsection .mc-globalhead__accountnav li:not(.mc-globalhead__btnlist-container) {
        display: none
    }
    .mc-globalhead__accountnav .mc-globalhead__nav-link:focus,
    .mc-globalhead__accountnav .mc-globalhead__nav-link:hover {
        color: #fff
    }
}

@media only screen and (max-width:1199px) {
    .mc-globalbanner .mc-globalhead__accountnav {
        height: auto
    }
    .mc-globalbanner .mc-globalhead__accountnav .mc-globalhead__drop-trigger {
        line-height: 15px;
        padding-top: 0;
        display: inline-flex;
        align-items: center
    }
    .mc-globalbanner .mc-globalhead__accountnav .mc-globalhead__username {
        line-height: 13px
    }
    .mc-globalhead__username {
        top: 1px
    }
    .mc-globalhead__btnlist-container .mc-button__primary {
        font-size: 12px;
        line-height: 20px;
        padding: 10px 24px
    }
}

@media only screen and (min-width:1200px) {
    .mc-globalhead__navcontainer {
        padding: 0 50px
    }
    .mc-globalheader__logocontainer img {
        max-width: 300px
    }
    .mc-globalbanner {
        padding-left: 61px;
        padding-right: 61px
    }
}

.mc-globalhead__stickyplaceholder {
    position: absolute;
    width: 100%
}

.mc-globalhead__navcontainer-sticky+.mc-globalhead__navcontainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400
}

.mc-globalhead__navsection.mc-globalhead__navsection-scrollable {
    overflow-x: scroll
}

.mc-socialicon {
    position: relative;
    display: inline-block
}

.mc-socialicon:focus,
.mc-socialicon:hover {
    transition: .5s ease-in-out
}

.mc-socialicon__instagram_s1_l2 {
    position: absolute;
    top: 8px;
    left: 7px
}

.mc-socialicon__instagram_s1_l3 {
    position: absolute;
    top: 3px;
    right: 4px
}

.mc-socialicon:focus path,
.mc-socialicon:hover path {
    fill: #fff
}

.master-head {
    background: url(../../../content/dam/minecraft/backgrounds/bg-wool-dark.png)
}

nav.mc-globalhead__accountnav.mc-globalhead__topnav {
    width: 50%
}

.mc-globalbanner__promo-link {
    width: 50%
}

.mc-globalhead__primary .mc-globalhead__accountnav>ul {
    width: 100%;
    justify-content: end
}

button#mc-globalhead__nav-login-button-1 {
    width: 100%;
    display: block;
    word-wrap: break-word;
    text-align: left
}